@use 'colors'

.book-illustration
  --soft-background-color: #{colors.$soft-background-color}
  --book-peach-color: #{colors.$book-peach-color}
  --book-peach-border-color: #{colors.$book-peach-border-color}
  --book-peach-line-color: #{colors.$book-peach-line-color}
  --primary-color: #{colors.$primary-color}
  --book-orange-line-color: #{colors.$book-orange-line-color}
  --book-sage-color: #{colors.$book-sage-color}
  --book-sage-border-color: #{colors.$book-sage-border-color}
  --book-sage-line-color: #{colors.$book-sage-line-color}
  --book-sparkle-color: #{colors.$book-sparkle-color}
